mat-card {
  width: 48%;
  margin: 10px;
}

button {
  width: 50%;
  margin: 10px auto;
  display: block;
}

mat-form-field {
  width: 100%;
}

mat-card {
  display: flex;
}

mat-card:first-child {
  flex: 1;
  margin-right: 10px;
}

mat-card:last-child {
  flex: 1;
}
